---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle: string = "About Me";

const identity = {
	name: "Daiki Takagi",
	age: 26,
	location: "Tokyo, Japan",
	hobbies: ["programming", "gaming", "guitar", "cello"],
};

const skills = ["JavaScript", "TypeScript", "Rust", "PHP", "React"];
---

<BaseLayout pageTitle={pageTitle}>
	<h2>... and my new site!</h2>

	<p>Here are a few facts about me:</p>
	<ul>
		<li>My name is {identity.name}</li>
		<li>I live in {identity.location}</li>
		{
			identity.hobbies.length >= 2 && (
				<li>
					Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
				</li>
			)
		}
	</ul>
	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>
</BaseLayout>
