---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";

const pageTitle: string = "About Me";

const identity = {
	name: "Daiki Takagi",
	age: 26,
	location: "Tokyo, Japan",
	hobbies: ["programming", "gaming", "guitar"],
};

const skills = ["JavaScript", "TypeScript", "Rust", "PHP", "React"];

const happy = true;
const finished = false;
const goal = 3;
const skillColor = "green";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style define:vars={{skillColor}}>
			h1 {
				color: purple;
				font-size: 3rem;
			}

            .skill {
                color: var(--skillColor);
                font-weight: bold;
            }
		</style>
	</head>
	<body>
		<div>
            <Navigation />
		</div>
		<h1>{pageTitle}</h1>
		<h2>... and my new Astro site!</h2>

		<p>Here are a few facts about me:</p>
		<ul>
			<li>My name is {identity.name}</li>
			<li>I live in {identity.location}</li>
			{
				identity.hobbies.length >= 2 && (
					<li>
						Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
					</li>
				)
			}
		</ul>
		<ul>
			{skills.map((skill) => <li class="skill">{skill}</li>)}
		</ul>

		{happy && <p>I am happy to be learning Astro!</p>}

		{finished && <p>I finished this tutorial!</p>}

		{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
	</body>
</html>
